@model IEnumerable<MVCSBD_Sklep.Models.Kategoria>

@{
    ViewBag.Title = "Lista kategorii";
}

<link href="~/Content/cards.css" rel="stylesheet" />
<link href="~/Content/general.css" rel="stylesheet" />

<link rel="stylesheet" href="~/Content/font-awesome/css/all.css">
<div class="heading">
    <h2>Dostêpne kategorie produktów</h2>
    <div>
        Wybierz spoœród @Model.Count() kategorii:
    </div>
</div>

@*<ul>
        @foreach (var category in Model)
        {
            <li>@Html.ActionLink(category.Name, "Browse", new { kategoria = category.Name })</li>
        }
    </ul>*@

<div class="card-container">
    <div class="card-grid" style="text-align: center;">
        @foreach (var category in Model)
        {<a href="../Store/Browse?kategoria=@category.Name" style="color:dimgrey;">
                <div class="category-card">
                    <i style="font-size: 4.73em; height:50px; text-align:center; margin-left:auto; margin-right:auto;" class="@category.IconClassName"></i>
                    <br /><br />
                    <div class="category-name">
                        @category.Name
                    </div>
                </div>
            </a>
        }
    </div>
</div>
