@model IEnumerable<MVCSBD_Sklep.Models.Kategoria>

@{
    ViewBag.Title = "Lista kategorii";
}

<link href="~/Content/cards.css" rel="stylesheet" />
<link href="~/Content/general.css" rel="stylesheet" />

<div class="heading">
    <h2>Dostępne kategorie produktów</h2>
    <div>
        Wybierz spośród @Model.Count() kategorii:
    </div>
</div>

<div class="card-container">
    <div class="card-grid">
        @foreach (var category in Model)
        {
        <div class="category-card">
            <div class="category-name">@Html.ActionLink(category.Name, "Browse", new { kategoria = category.Name })</div>
        </div>
        }
    </div>
</div>
